body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set a minimum height to ensure the content fills the viewport */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; /* Push the footer to the bottom of the container */
  height: 30px;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.footContainer {
  text-align: center;
}

@media (max-width: 767px) {
  .sticky-footer {
    position: relative;
    bottom: auto;
  }
}
