.match-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.player-stats-container {
  margin-right: 25px;
  margin-left: 25px;
  overflow-x: auto;
  min-width: 200px;
}

.stats-table {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-collapse: collapse; /* Add to collapse table borders */
}

.stats-table th,
.stats-table td {
  padding: 8px; /* Adjust padding for table cells */
  text-align: center; /* Center align text in cells */
  color: white;
  max-width: 100px;
  text-overflow: clip;
  white-space: nowrap;
  border: 1px solid #ddd;
}

.stats-table th {
  background-color: #464545; /* Add a background color to header cells */
}

.stats-table tbody tr:nth-child(even) {
  background-color: #464545; /* Add alternating background color to even rows */
}

.stats-table tbody tr:nth-child(odd) {
  background-color: #a7a3a3;
}

td img {
  max-width: 70px;
}

/* Media query to hide overflow-x when there is enough space */
@media (min-width: 1366px) {
  .player-stats-container {
    overflow-x: initial;
  }
}
