/* PlayerStats.css */

.player-stats-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 600px; /* Adjust the width as needed */
  border-style: none;
}

.stats-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.stats-table th,
.stats-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.item-photos {
  display: flex;
  margin-top: 10px;
}

.item-photo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
