body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.header {
  background-color: black;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.esport {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* transform: translate(47%, -50%); */
  text-align: center;
  width: 100%;
}
