body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.header {
  background-color: black;
  flex-wrap: nowrap;
  flex-direction: column;
}

.esport {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.list {
  list-style-type: none;
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  margin: auto;
  transform: translate(47%, -50%);
}